ProjectWidget {
  align-horizontal: center;
  align-vertical: middle;
  margin-bottom: 1;
}

Input {
  width: 10;
}

Horizontal {
  align-horizontal: center;
  align-vertical: middle;
  height: 3;
}

#control_buttons {
  height: 3;
}

Button {
  background: blue;
}

#next {
  margin-left: 5;
}

#save_container {
  margin-top: 3;
}

#save {
  margin-right: 2;
}

.error {
  background: red;
  color: white;
}
